body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:327px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:586px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:319px;
  height:586px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:285px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:472px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:50px;
  width:284px;
  height:472px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:228px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:59px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:49px;
  width:284px;
  height:59px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:59px;
  width:194px;
  height:39px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:194px;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:63px;
  width:30px;
  height:28px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  color:#FFFFFF;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:120px;
  width:164px;
  height:21px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:2px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:148px;
  width:258px;
  height:1px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:71px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:163px;
  width:126px;
  height:71px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:244px;
  width:97px;
  height:38px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:244px;
  width:85px;
  height:26px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:71px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:163px;
  width:126px;
  height:71px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:71px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:283px;
  width:126px;
  height:71px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:364px;
  width:109px;
  height:24px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:71px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:283px;
  width:126px;
  height:71px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:364px;
  width:109px;
  height:24px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:71px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:401px;
  width:126px;
  height:71px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:482px;
  width:109px;
  height:24px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:71px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:401px;
  width:126px;
  height:71px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:482px;
  width:109px;
  height:24px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
