@font-face {
    font-family: 'Conv_HelveticaNeueLTStd-UltLtEx';
    src: url('../fonts/HelveticaNeueLTStd-UltLtEx.eot');
    src: url('../fonts/HelveticaNeueLTStd-UltLtEx.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-UltLtEx.ttf') format('truetype'), url('../fonts/HelveticaNeueLTStd-UltLtEx.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_helr45w';
    src: url('../fonts/helr45w.eot');
    src: url('../fonts/helr45w.woff') format('woff'), url('../fonts/helr45w.ttf') format('truetype'), url('../fonts/helr45w.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


body{
    font-family:'Conv_helr45w',Sans-Serif;
    letter-spacing: 1px;
}

a,
a:hover{
    text-decoration: none;
}

.more{
    color: #FFF;
    background: #0f69ff;
    padding: 13px 33px;
    display: inline-block;
    border-radius: 2px;
}
.more:hover{
    color: #FFF;
    background: #0a49b2;
}

.navbar-inverse{
    background: transparent;
    border: 0;
}
.navbar-fixed-top .lang{
    margin-top: -5px;
}
.navbar-fixed-top .dropdown-menu{
    background: transparent url(../images/top-menu-bg-black.png) no-repeat;
    padding: 13px 0 0 13px;
    box-shadow: none;
    min-width: inherit;
    left: 10px;
    top: 80%;
    border: 0;
}
.navbar-fixed-top .dropdown-menu>li>a{
    color: #75747a;
    background-color: #000;
    border-left: 1px #114ab6 solid;
    text-align: left;
    padding: 3px 15px 10px 15px;
}
.navbar-fixed-top .dropdown-menu>li>a:hover{
    color: #FFF;
}
.navbar-inverse .navbar-nav>li:hover>a {
    color: #FFF;
}

.navbar-inverse.black{
    background: #000;
    border: 0;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease;
}

.black .navbar-brand{
    padding: 10px 5px 0 5px;
}

.one{
    background: url(../images/earth.jpg) no-repeat;
    background-size: cover;
    position: relative;
}
.one .text{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
}
#particles-js {
    position: relative;
    z-index: 1;
}
.one .text h3{
    font-family: 'Conv_HelveticaNeueLTStd-UltLtEx',Sans-Serif;
    color: #FFF;
    font-size: 60px;
    text-align: center;
    position: relative;
    top:40%;
    transform:translateY(-40%);
}
.one .arrow-down{
    position: absolute;
    left: 50%;
    margin-right: -20px;
    bottom: 20px;
    cursor: pointer;
    z-index: 2;
}
.two{
    background: url(../images/bg-white.jpg) no-repeat;
    background-size: cover;
}
.two .chepsets{
    margin: 0 auto;
    width: 100%;
    max-width: 650px;
}
.two .chepsets .row{
    max-width: 420px;
    margin: 0 auto;
    line-height: 22px;
}
.two .swiper-button-prev, 
.two .swiper-container-rtl .swiper-button-next{
    background: none;
}
.two .swiper-button-next, 
.two .swiper-container-rtl .swiper-button-prev{
    background: none;
    right: 20px;
}
.two h1{
    font-family: 'Conv_HelveticaNeueLTStd-UltLtEx',Sans-Serif;
    font-size: 60px;
    color: #000;
    text-align: center;
    line-height: 100px;
    margin-bottom: 50px;
}
.two .swiper-button-next, 
.two .swiper-button-prev{
    margin-top: -52px;
}


.three{
    background: url(../images/bg-blue.jpg) no-repeat;
    background-size: cover;
}
.three .row{
    padding-top: 130px;
}
.three .vrar{
    margin-top: 40px;
    max-width: 90%;
}
.three h1{
    font-family: 'Conv_HelveticaNeueLTStd-UltLtEx',Sans-Serif;
    color: #478cff;
    font-size: 50px;
    margin-bottom: 80px;
}
.three p{
    line-height: 24px;
    color: #FFF;
}
.three .more{
    margin-top: 40px;
}
.four{
    background: #e5f1ff;
}
.four .row{
    padding-top: 100px;
}
.four .row .left{
    padding-left: 120px;
    padding-top: 40px;
}
.four .vrar{
    margin-top: 40px;
    max-width: 70%;
}
.four h1{
    font-family: 'Conv_HelveticaNeueLTStd-UltLtEx',Sans-Serif;
    color: #062438;
    font-size: 50px;
    margin-bottom: 80px;
}
.four p{
    line-height: 24px;
    color: #062438;
}
.four .more{
    margin-top: 40px;
}

.five{
    background: #051b29;
}

.foot{
    background: #051b29;
    padding: 80px 0 30px 0;
    font-size: 12px;
    color: #777c82;
    line-height: 22px;
}
.foot a {
    color: #777c82;
}
.foot a:hover{
    color: #FFF;
}
.foot ul{
    list-style: none;
    padding-left: 0;
}
.foot ul li{
    border-left: 1px #1e2d35 solid;
    padding-left: 10px;
}

#fp-nav ul li{
    background: url(../images/slider-1.png) no-repeat;
    width: 25px;
    height: 25px;
    background-size: 100%;
    margin-bottom: 32px;
}
#fp-nav ul li:nth-child(1){
    background: url(../images/slider-1.png) no-repeat;
    background-size: 100%;
}
#fp-nav ul li:nth-child(2){
    background: url(../images/slider-2.png) no-repeat;
    background-size: 100%;
}
#fp-nav ul li:nth-child(3){
    background: url(../images/slider-3.png) no-repeat;
    background-size: 100%;
}
#fp-nav ul li:nth-child(4){
    background: url(../images/slider-4.png) no-repeat;
    background-size: 100%;
}
#fp-nav ul li:nth-child(5){
    background: url(../images/slider-5.png) no-repeat;
    background-size: 100%;
    display: none;
}
#fp-nav ul li a.active{
    background: transparent;
    border: 1px #0f69ff solid;
    border-radius: 50%;
}
#fp-nav ul li a span, 
.fp-slidesNav ul li a span{
    background: transparent;
}

.bottom-btn{
    text-align: left;
}

@media (min-width: 768px){
    .navbar-inverse{
        padding: 10px 50px;
    }
    .navbar-nav{
        margin-top: 8px;
    }
    .navbar-nav>li {
        margin-right: 20px;
    }
    .black.navbar-inverse{
        padding: 0px 20px;
    }
    .black .navbar-nav{
        margin-top: 0px;
    }
}

@media (max-width: 768px){
    .one .text h3{
        font-size: 40px;
    }
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
        border: none;
    }
    #navbar .nav{
        width: 160px;
        background-color: #000;
        float: right;
    }
    #navbar .dropdown-menu{
        position: static;
        display: block;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-fixed-bottom .navbar-collapse, 
    .navbar-fixed-top .navbar-collapse{
        max-height: inherit;
    }
    .one {
        background-position: 35%;
    }
    #fp-nav.right{
        top: inherit;
        bottom: 10px;
    }
    .two h1 {
        font-size: 28px;
        line-height: 42px;
    }
    .two .chepsets .row{
        text-align: center;
    }
    .three .row{
        padding-top: 20px;
    }
    .three h1{
        text-align: center;
        font-size: 30px;
        margin-bottom: 10px;
    }
    .three p {
        line-height: 20px;
    }
    .three .more{
        margin-top: 0;
    }
    .four .row{
        padding-top: 20px;
    }
    .four .row .left{
        padding: 0;
    }
    .four h1{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .four p {
        text-align: left;
        line-height: 20px;
    }
    .four .more{
        margin-top: 0;
    }
    .four .col-md-6{
        text-align: center;
    }
    .foot{
        padding: 30px 0 30px 0;
    }
    .foot .col-md-2{
        float: left;
        width: 25%;
    }
    .foot .text-right img{
        width: 70px;
        margin-top: 15px;
    }
    .foot .text-center{
        padding-top: 15px;
    }
    .bottom-btn{
        text-align: center;
    }
}